.footer-divider{
    width: 3px;
    height: 60px;
    background-color: hsla(0, 0%, 96.5%, 0.2);
    transform: rotate(20deg);
    padding: 0;
}
.separator{
    width: 2px;
    height: 100px;
    background-color: hsla(0, 0%, 96.5%, 0.2);
    padding:0;
}
.footer{
    border-radius: 40px 40px 0 0;
}
.icon{
    font-size: 40px;
    color: darkgray;
}
@media(max-width:500px){
    .icon{
        font-size: 20px;
    }
    .footer-divider{
        height: 30px;
    }
    .separator{
        display:none;
    }
}